/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');

/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', arial, serif;
    font-size: 2rem;
}

html {
    font-size: 62.5%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.799);
    border-radius: 1px 1px 30px 30px;
}

header .header__logo {
    flex-basis: 40%;
}

header .header__img {
    max-width: 150px;
}

header .navigation {
    flex-basis: 60%;
}

header nav .menu {
    display: flex;
    gap: 2rem;
}

